
@model ACPOnline.Models.UserViewModel
<div class="row">
    <!-- right column -->
    <div class="col-md-12">
        <!-- /.box -->
        <!-- general form elements disabled -->
        <div class="box box-primary">
            <form role="form" action="@Url.Action("Create", "User")" method="post">
                <div class="box-header with-border">
                    <h3 class="box-title">Edit User</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <!-- text input -->
                            <div class="form-group">
                                @Html.LabelFor(m => m.User.UserId)
                                @Html.TextBoxFor(m => m.User.UserId, new { @class = "form-control", @readonly = true, placeholder = Html.DisplayNameFor(m => m.User.UserId) })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.User.LoginId)
                                @Html.TextBoxFor(m => m.User.LoginId, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.User.LoginId) })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.User.UserName)
                                @Html.TextBoxFor(m => m.User.UserName, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.User.UserName) })
                            </div>
                            <!-- textarea -->
                            <div class="form-group">
                                @Html.LabelFor(m => m.User.UserRoles)
                                @Html.HiddenFor( m => m.User.UserRoles)
                                <a href="javascript:void(0)" id="addUserRoles" data-toggle="modal" style="margin-left:10px;">Click to Add User Roles</a>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.User.Password)
                                @Html.TextBoxFor(m => m.User.Password, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.User.Password) })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.User.Email)
                                @Html.TextBoxFor(m => m.User.Email, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.User.Email) })
                            </div>
                        </div>
                    </div>
                </div>
                       @Html.HiddenFor(m => m.User.CreatedBy)
                       @Html.HiddenFor(m => m.User.CreatedDate)
                       @Html.HiddenFor(m => m.User.UpdatedBy, new { @value = "1" })
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-info pull-right">Soft Delete</button>
                    <button type="submit" class="btn btn-info pull-right" style="margin-right:10px">Update</button>
                </div>
            </form>
        </div>
        <!-- /.box -->
    </div>
</div>

<div id="userRolesBinder">
    @{ Html.RenderPartial("_UserRoles", Model); }
</div>
<!-- /.row -->


@section scripts {
  <script src="~/Scripts/jquery.bootstrap-duallistbox.js"></script>
    <script>
        $(document).ready(function () {
            $('.datepicker').datepicker();
            $("#User_UpdatedBy").val('1');
            $(".selectUserMulti").bootstrapDualListbox({
            nonSelectedListLabel: 'Non-selected',
            selectedListLabel: 'Selected',
            preserveSelectionOnMove: 'moved',
            moveOnSelect: false
        });
        });

        $(document).on("click", "#addUserRoles", function () {
            $("#addRolesModal").modal("show");
        });
    </script>
}