
@{
    ViewBag.Title = "Create";
}
@model ACPOnline.Models.AcpViewModel
<div class="row">
    <!-- right column -->
    <div class="col-md-12">
        <!-- /.box -->
        <!-- general form elements disabled -->
        <div class="box box-primary">
            <form role="form" action="@Url.Action("Create", "Acp")" method="post">
                <div class="box-header with-border">
                    <h3 class="box-title">Edit ACP</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <!-- text input -->
                            <div class="form-group">
                                @Html.LabelFor(m => m.Acp.ID)
                                @Html.TextBoxFor(m => m.Acp.ID, new { @class = "form-control", @readonly = true, placeholder = Html.DisplayNameFor(m => m.Acp.ID) })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Acp.TypeID)
                                @Html.DropDownListFor(m => m.Acp.TypeID, new SelectList(Model.AcpTypeOptions, "TypeID", "Type"), new { @class = "form-control" })
                            </div>
                            <!-- textarea -->
                            <div class="form-group">
                                @Html.LabelFor(m => m.Acp.CategoryId)
                                @Html.DropDownListFor(m => m.Acp.CategoryId, new SelectList(Model.AcpCategoryOptions, "CategoryId", "CategoryName"), new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Acp.Name)
                                @Html.TextBoxFor(m => m.Acp.Name, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Acp.Name) })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Acp.Description)
                                @Html.TextAreaFor(m => m.Acp.Description, new { @class = "form-control", rows = "3", placeholder = Html.DisplayNameFor(m => m.Acp.Description) })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Acp.StatusId)
                                @Html.DropDownListFor(m => m.Acp.StatusId, new SelectList(Model.AcpStatusOptions, "StatusId", "StatusName"), new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Acp.ImplStartDate)
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    @Html.TextBoxFor(m => m.Acp.ImplStartDate, "{0:MM/dd/yyyy}", new { @class = "form-control datepicker", placeholder = Html.DisplayNameFor(m => m.Acp.ImplStartDate) })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Acp.ImplEndDate)
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    @Html.TextBoxFor(m => m.Acp.ImplEndDate, "{0:MM/dd/yyyy}", new { @class = "form-control datepicker", placeholder = Html.DisplayNameFor(m => m.Acp.ImplEndDate) })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Acp.PlImplEndDate)
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    @Html.TextBoxFor(m => m.Acp.PlImplEndDate, "{0:MM/dd/yyyy}", new { @class = "form-control datepicker", placeholder = Html.DisplayNameFor(m => m.Acp.PlImplEndDate) })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Acp.LaunchDate)
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    @Html.TextBoxFor(m => m.Acp.LaunchDate, "{0:MM/dd/yyyy}", new { @class = "form-control datepicker", placeholder = Html.DisplayNameFor(m => m.Acp.LaunchDate) })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Acp.PlLaunchDate)
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    @Html.TextBoxFor(m => m.Acp.PlLaunchDate, "{0:MM/dd/yyyy}", new { @class = "form-control datepicker", placeholder = Html.DisplayNameFor(m => m.Acp.PlLaunchDate) })
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Acp.Artifacts)
                                <a href="javascript:void(0)" id="addArtifacts" data-toggle="modal" style="margin-left:10px;">Click to Add/See</a>
                            </div>
                        </div>
                        <div style="display:none;" id="artifactBinder">
                            @for (int i = 0; i < Model.Acp.Artifacts.Count(); i++)
                            {
                                @Html.HiddenFor(m => m.Acp.Artifacts[i].ID)
                                @Html.HiddenFor(m => m.Acp.Artifacts[i].Name)
                                @Html.HiddenFor(m => m.Acp.Artifacts[i].ACPID)
                                @Html.HiddenFor(m => m.Acp.Artifacts[i].URL)
                                @Html.HiddenFor(m => m.Acp.Artifacts[i].IsDeleted)
                            }
                        </div>
                       
                        <div class="col-md-6">

                            <div class="form-group">
                                @Html.LabelFor(m => m.Acp.ProposedBy)
                                @Html.DropDownListFor(m => m.Acp.ProposedBy, new SelectList(Model.ProposedByOptions, "UserId", "UserName"), new { @class = "form-control select2" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Acp.Lead)
                                @Html.DropDownListFor(m => m.Acp.Lead, new SelectList(Model.AcpLeadOptions, "UserId", "UserName"), new { @class = "form-control select2" })
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-info pull-right">Submit</button>
                </div>
            </form>
        </div>
        <!-- /.box -->
    </div>
</div>
<!-- /.row -->

<div id="artifactBinder">
    @{ Html.RenderPartial("_EditArtifacts", Model.Acp.Artifacts); }
</div>


@section scripts
{
    <script>
        $(document).ready(function () {
            $('.datepicker').datepicker();
            $(".select2").select2();
        });

        $(document).on("click", "#addArtifacts", function () {
            $("#addArtifactsModal").modal("show");
        });

        $(document).on("click", "#addMoreArtifacts", function () {
            var ele = $("#addArtifactsContainer").clone();
            var artifacts = $(ele).find('.artifactVal');
            $.each($(artifacts), function (i, value) {
                $(value).data('id', '-1');
                $(value).find('input').first().val('');
                $(value).find('input').last().val('');
            });
            $(ele).addClass('newlyAdded');
            $("#addGroup").before($(ele));
            $(ele).show();
        });

        $(document).on("click", "#addArtifactsBtn", function () {
            var arrayArtifacts = [];
            var artifacts = $('.artifactVal');
            var html = "";
            var i = 0;
            $.each($(artifacts), function (ind, value) {
                var id = $(value).data('id');
                var acpId = $("#Acp_ID").val();
                var name = $(value).find('input').first().val().trim();
                var url = $(value).find('input').last().val().trim();
                if (name != "" && url != "" || name != "" || url != "") {
                    html += '<input data-val="true" data-val-number="The field ID must be a number." data-val-required="The ID field is required." id="Acp_Artifacts_' + i + '__ID" name="Acp.Artifacts[' + i + '].ID" type="hidden" value="'+ id + '"><input id="Acp_Artifacts_' + i + '__Name" name="Acp.Artifacts[' + i + '].Name" type="hidden" value="' + name + '"><input data-val="true" data-val-number="The field ACPID must be a number." id="Acp_Artifacts_' + i + '__ACPID" name="Acp.Artifacts[' + i + '].ACPID" type="hidden" value="'+ acpId +'"><input id="Acp_Artifacts_' + i + '__URL" name="Acp.Artifacts[' + i + '].URL" type="hidden" value="' + url + '"><input id="Acp_Artifacts_' + i + '__IsDeleted" name="Acp.Artifacts[' + i + '].IsDeleted" type="hidden" value="False">';
                    i++;
                }

            });
            $("#artifactBinder").html(html);
            $("#addArtifactsModal").modal("hide");
        });
    </script>
}