
@{
    ViewBag.Title = "Create";
}
@model ACPOnline.Models.AcpViewModel
<div class="row">
    <!-- right column -->
    <div class="col-md-12">
        <!-- /.box -->
        <!-- general form elements disabled -->
        <div class="box box-primary">
            <form role="form" action="@Url.Action("Create", "Acp")" method="post">
                <div class="box-header with-border">
                    <h3 class="box-title">Edit ACP</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <!-- text input -->
                            <div class="form-group">
                                @Html.LabelFor(m => m.Acp.ID)
                                @Html.TextBoxFor(m => m.Acp.ID, new { @class = "form-control", disabled=true, placeholder = Html.DisplayNameFor(m => m.Acp.ID) })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Acp.TypeID)
                                @Html.DropDownListFor(m => m.Acp.TypeID, new SelectList(Model.AcpTypeOptions, "TypeID", "Type"), new { @class = "form-control" })
                            </div>
                            <!-- textarea -->
                            <div class="form-group">
                                @Html.LabelFor(m => m.Acp.CategoryId)
                                @Html.DropDownListFor(m => m.Acp.CategoryId, new SelectList(Model.AcpCategoryOptions, "CategoryId", "CategoryName"), new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Acp.Name)
                                @Html.TextBoxFor(m => m.Acp.Name, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Acp.Name) })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Acp.Description)
                                @Html.TextAreaFor(m => m.Acp.Description, new { @class = "form-control", rows = "3", placeholder = Html.DisplayNameFor(m => m.Acp.Description) })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Acp.StatusId)
                                @Html.DropDownListFor(m => m.Acp.StatusId, new SelectList(Model.AcpStatusOptions, "StatusId", "StatusName"), new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Acp.ImplStartDate)
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    @Html.TextBoxFor(m => m.Acp.ImplStartDate, "{0:MM/dd/yyyy}", new { @class = "form-control datepicker", placeholder = Html.DisplayNameFor(m => m.Acp.ImplStartDate) })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Acp.ImplEndDate)
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    @Html.TextBoxFor(m => m.Acp.ImplEndDate, "{0:MM/dd/yyyy}", new { @class = "form-control datepicker", placeholder = Html.DisplayNameFor(m => m.Acp.ImplEndDate) })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Acp.PlImplEndDate)
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    @Html.TextBoxFor(m => m.Acp.PlImplEndDate, "{0:MM/dd/yyyy}", new { @class = "form-control datepicker", placeholder = Html.DisplayNameFor(m => m.Acp.PlImplEndDate) })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Acp.LaunchDate)
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    @Html.TextBoxFor(m => m.Acp.LaunchDate, "{0:MM/dd/yyyy}", new { @class = "form-control datepicker", placeholder = Html.DisplayNameFor(m => m.Acp.LaunchDate) })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Acp.PlLaunchDate)
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    @Html.TextBoxFor(m => m.Acp.PlLaunchDate, "{0:MM/dd/yyyy}", new { @class = "form-control datepicker", placeholder = Html.DisplayNameFor(m => m.Acp.PlLaunchDate) })
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Artifacts</label>
                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                @Html.LabelFor(m => m.Acp.ProposedBy)
                                @Html.DropDownListFor(m => m.Acp.ProposedBy, new SelectList(Model.ProposedByOptions, "UserId", "UserName"), new { @class = "form-control select2" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Acp.Lead)
                                @Html.DropDownListFor(m => m.Acp.Lead, new SelectList(Model.AcpLeadOptions, "UserId", "UserName"), new { @class = "form-control select2" })
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-info pull-right">Submit</button>
                </div>
            </form>
        </div>
        <!-- /.box -->
    </div>
</div>
<!-- /.row -->


@section scripts
{
    <script>
        $(document).ready(function () {
            $('.datepicker').datepicker();
            $(".select2").select2();
        });
    </script>
}